
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Hurricane&family=Inspiration&family=Oswald:wght@200&family=Parisienne&family=Permanent+Marker&family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200&family=Parisienne&family=Permanent+Marker&display=swap');
/* #di1{
    width:1415px;
    height:100px ;
    background-color:wheat;
    margin-top: -55px;
}
#he1{
    margin-left: 100px;
}
/* /* #di2{ */
    /* font-family: 'Smokum', cursive;
    font-size: 500%;
    text-align: center;
    margin-top: 50px;
    color: red;
    margin-left: -172px;
} */  

#header{
    background-color: rgb(101 95 85 / 80%);
    width: 1415px;
    height: 76px;
    display: flex;
    position: fixed;
    padding-top: 10px;
}
#c1{
    margin-left: 201px;
    margin-top: 0px;
    font-size: 202%;
    font-family: 'Smokum', cursive;
    /* text-align: center; */
    padding: -1px;
    color: white;


}
#list{
    margin-left: 724px;
    margin-top: -16px;
    padding: 10px;
}
#list ul{
   display: flex;
   list-style: none;
}
#list li{
    padding: 20px;
}
#d1{
     background-image: url(./images1/bgcoffe1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     width: 1140px;
     height: 744px;
     margin-top: -22px;
     margin-left: 117px;
}
#di3{
    text-align: center;
    width: 1518px;
    padding: 123px;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    color: black;
} 
#d2{
    width: 1415px;
    height: 744px;
    /* background-color: lightcyan; */
    margin-top: -21px;
}
#d3{
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    text-align: left;
    width: 1742px;
    padding: 117px; 
    color: black;

    }
#d8{
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-size:223%;
    margin-left: 45px;
    margin-bottom: 2px;
    margin-top: -64px;
    color: black;

}
#p1{
    color:white ;
    border: solid 5px black;
    border-radius: 20px;
    padding: 53px;
    width: 990px;
    margin-left: 200px;
    font-family: 'Dancing Script', cursive;
    font-size: 123%;

    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
#d4{
    width: 1415px;
    height: 744px;
    /* background-color: lightcyan; */
    margin-top: -21px;
}
#d5{
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-size:193%;
    margin-left: 45px;
    margin-bottom: 2px;
    margin-top: -90px;
    color: black;

}
#p2{
    color:white ;
    padding: 53px;
    width: 990px;
    margin-left: 149px;
    /* font-family: 'Dancing Script', cursive; */


}
#d6{
    width: 414px;
    height: 300px;
    margin-left: 235px;
    border: solid 8px white;
    border-radius: 22px;


}
#d7{
    text-align: center;
    color: white;
}
#p3{
    color:white ;
    padding: 53px;
    width: 400px;
    margin-left: -30px;
    margin-top: -24px;
    /* border: solid 8px black; */
    /* font-family: 'Dancing Script', cursive; */


}
#b1{
    background-color: palevioletred;
    color: white;
    text-align: center;
    margin-left: 131px;
    width: 133px;
    height: 31px;

}
#b2{
    background-color: palevioletred;
    color: white;
    text-align: center;
    margin-left: 134px;
    margin-top: -28px;
    width: 133px;
    height: 31px;

}
#d9{
    width: 414px;
    height: 300px;
    margin-left: 718px;
    border: solid 8px white;
    border-radius: 22px;
    margin-top: -314px;

}
#d10{
    text-align: center;
    color: white;
}
#p4{
    color:white ;
    padding: 53px;
    width: 400px;
    margin-left: -40px;
    margin-top: -24px;
    /* font-family: 'Dancing Script', cursive; */


}
#d12{
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    text-align: center;
    width: 1742px;
    padding: 44px; 
    margin-top: -136px;
    margin-left: -270px;
    color: white;
}
#d11{
    width: 1415px;
    height: 1604px;
    /* background-color: lightcyan; */
    margin-top: -21px;
}

#d13{
        width: 414px;
        height: 300px;
        margin-left: 460px;
        /* border: solid 8px black;
        border-radius: 22px; */
        margin-top: -25px;
 
}
#d14{
    width: 414px;
        height: 300px;
        margin-left: 862px;
        /* border: solid 8px black;
        border-radius: 22px; */
        margin-top: -106px;
 
}
#d15{
    width: 414px;
        height: 300px;
        margin-left: 491px;
        /* border: solid 8px black;
        border-radius: 22px; */
        margin-top: -108px;
 
}
#d16{
    width: 414px;
        height: 300px;
        margin-left: 862px;
        /* border: solid 8px black;
        border-radius: 22px; */
        margin-top: -91px;
 
}
#d17{
    width: 414px;
        height: 302px;
        margin-left: 484px;
        /* border: solid 8px black;
        border-radius: 22px; */
        margin-top: -109px;
 
}
img{
    width: 245px;
    height: 113px;
    box-shadow: 3px 4px 5px lightblue;
    border: solid 2px black;
    border-radius: 11px;

}
#p5{
    color:white ;
    padding: 53px;
    width: 400px;
    margin-left: 217px;
    margin-top: -170px;

}
#d18{
    margin-left:0px;
    color: black;
}
#p6{
    color:white ;
    padding: 53px;
    width: 400px;
    margin-left:-450px;
    margin-top: -170px;

}
#im2{
    margin-left: 24px;
    box-shadow: 3px 4px 5px lightblue;
    border: solid 2px black;
    border-radius: 11px;


}
#d19{
    margin-left: -397px;
    color: black;

}
#d20{
    margin-left: 398px;
    color: black;

}
#p7{
    color:white ;
    padding: 53px;
    width: 400px;
    margin-left:206px;
    margin-top: -170px;

}
#im3{
    margin-left: -22px;
    box-shadow: 3px 4px 5px lightblue;
    border: solid 2px black;
    border-radius: 11px;


}
#d20{
    margin-left: -21px;
}
#d21{
    margin-left: -397px;
    color: black;

}
#im4{
    margin-left: 24px;
    box-shadow: 3px 4px 5px lightblue;
    border: solid 2px black;
    border-radius: 11px;


}
#p8{
    color:white ;
    padding: 53px;
    width: 400px;
    margin-left:-450px;
    margin-top: -170px;

}
#d22{
    margin-left: -20px;
    color: black;
}
#p9{
    color:white ;
    padding: 53px;
    width: 400px;
    margin-left:206px;
    margin-top: -170px;

}
#im5{
    margin-left: -22px;
    color: white;
    box-shadow: 3px 4px 5px lightblue;
    border: solid 2px black;
    border-radius: 11px;


}
#d23{
    width: 1415px;
    height: 788px;
    /* background-color: lightcyan; */
    margin-top: -21px;
}
#d24{
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Inspiration', cursive;
    font-size: 400%;
    text-align: center;
    width: 1742px;
    padding: 44px; 
    margin-top: -344px;
    margin-left: -270px;
    color: black;
}
#im6{
    margin-left: 514px;
    width: 248px;
    height: 171px;
    margin-top: -41px;
    border-radius: 102px;
}
#p10{
    color:black ;
    padding: 53px;
    width: 1180px;
    margin-left:81px;
    margin-top: -42px;
    font-family: 'League Gothic', sans-serif;
    /* font-family: 'Inspiration', cursive; */

    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   font-size: 250%;
}
#b3{
    background-color: peru;
    color: black;
    text-align: center;
    margin-left: 199px;
}
label{
    margin-left:114px ;
    margin-top: -25px;
    color: black;
}
input{
    margin-left: -3px;
    margin-top: -25px;
}
#d25{
    border: solid 16px black;
    border-radius: 47px;
    width: 490px;
    height: 162px;
    /* background-color: lightcyan; */
    margin-top: -238px;
    margin-left: 441px;
}
#d26{
    width: 1415px;
    height: 1000px;
    /* background-color: lightcyan; */
    margin-top: -21px;
}
#im7{
    width: 523px;
    height: 297px;
    margin-left: 132px;
    border: solid 3px white;
    border-radius: 22px;
}
#im8{
    width: 523px;
    height: 297px;
    margin-left: 84px;
    border: solid 3px white;
    border-radius: 22px;

}
#im9{
    width: 523px;
    height: 297px;
    margin-left: 477px;
    margin-top: 100px;
    border: solid 3px white;
    border-radius: 22px;

}
#d27{
    font-family: 'Inspiration', cursive;
    font-size: 400%;
    text-align: center;
    width: 1742px;
    padding: 44px; 
    margin-top: 43px;
    margin-left: -270px;   
    color: black;
}
#d28{
    width:1415px;
    height:125px ;
    background-color: rgb(101 95 85 / 80%);

    /* background-color:wheat; */
    margin-top: -27px;
    margin-left: -9px;
    margin-bottom: -8px;
}
#d29{
    margin-left: 27px;
    color: white;
}
#a1{
    margin-top: 50px;
    margin-left: 19px;
}
#d30{
    margin-left: 478px;
    margin-top: -81px;
    color:white;
}
#a4{
    margin-top: 50px;
    margin-left: 19px;
}
#d31{
    margin-left: 956px;
    margin-top: -92px;
    color: white;
}
/* #a10{
    margin-left: 1012px;
    margin-top: 50px;
}
#a11{
    margin-left: 34px;
    margin-top: 50px;
}
#a12{
    margin-left: 35px;
    margin-top: 50px;
} */
/* #di4{
    background-image: url(./images1/wholebgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    position: fixed;
    width: 1415px;
     height: 744px;
     margin-top: -22px;
} */
body{
    background-image: url(./images1/wh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1px;
    background-attachment: fixed;

}
#b3:hover{
    background-color: black;
    color:white;
    /* width: 50px; */
    /* height: 50px; */
    
}
#b1:hover{
    background-color: black;
    color:white;
    /* width: 50px; */
    /* height: 50px; */
    
}
#b2:hover{
    background-color: black;
    color:white;
    /* width: 50px; */
    /* height: 50px; */
    
}
#p3:hover{
    color: black;
}
#p4:hover{
    color: black;
}
#p1:hover{
    color: black;
}
#p2:hover{
    color: black;
}
#d12:hover{
    color: black;
}

#d10:hover{
    color: black;
}
#d7:hover{
    color: black;
}
#d3:hover{
    color: wheat;
}
#a1:hover{
color: white;
}
#a2:hover{
    color: white;
    }
#a3:hover{
    color: white;
    }
#a4:hover{
    color: white;
}
#a5:hover{
    color: white;
 }
 #a6:hover{
 color: white;
}
#a7:hover{
color: white;
}
#a8:hover{
color: white;
}
#p10{
    width: 1180px;
    height: 200px;
    /* background-color:white; */
    position: sticky;
    left: 50%;
    /* top: -46px; */
    bottom: 2px;
}
#a1{
    color: black;
}
#a2{
    color: black;
}
#a3{
    color: black;
}
#a4{
    color: black;
}
#a5{
    color: black;
}
#a6{
    color: black;
}
#a7{
    color: black;
}
#a8{
    color: black;
}
#a9{
    color: black;
}
#aa1{
    color: black;
}
#aa2{
    color: black;
}
#aa3{
    color: black;
}
#aa4{
    color: black;
}
#aa1:hover{
    color: white;
    }
    #aa2:hover{
        color: white;
        }
        #aa3:hover{
            color: white;
            }
            #aa4:hover{
                color: white;
                }
 #c1:hover{
     color: white;
 }   
 #p5:hover{
     color: black;
     }     
     #p6:hover{
        color: black;
        }            
        #p7:hover{
            color: black;
            }            
            #p8:hover{
                color: black;
                }            
                #p9:hover{
                    color: black;
                    }                   